#main-header{
  background-color: #3c4146;
}
.font{
  color:honeydew
}
/* header#main-header .header-content{
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  color: aliceblue;
  display: flex;
} */
